body {
    margin: 0%
}
.registro{
    align-items: center;
    justify-content: center;

}
.registro_campos{
    align-items: center;
    justify-content: center;
    
}
.registro_boton{
    background-color: #de8aff;
    max-width: 200px;
    align-items: center;
    justify-content: center;
    
}
.boton{
    color: #fff;
    background-color: #de8aff;
}
.boton a {
    text-decoration: none;
    color: black;
    animation-duration: 2s;
}
.boton a:hover {
    color: blue;
}
.NAVBAR {
    text-align: center;
    background-color: rgb(232, 208, 255);
}

.NAVBAR a {
    text-decoration: none;
    color: black;
    padding: 5%;
    animation-duration: 5s;
}

.NAVBAR a:hover {
    color: blue;
}

.LOGO a img {
    margin-top: 10px;
    margin-left: 10px;

    border-radius: 100%;
}

.Tabla_mensajes {
    text-align: center;
    align-content: center;
    outline: 1px rgb(235, 37, 235) solid;
    background-color: rgb(232, 208, 255);
    width: 100%;
    justify-content: center;
}

.Tabla_mensajes a {
    text-decoration: none;
    color: black;
    padding: 0%;
    animation-duration: 5s;
}

.Tabla_mensajes a:hover {
    color: blue;
}

.titol {
    display: flex;
    align-items: center;
    color: blueviolet;
}

.patata {
    text-align: center;
    width: 100%;
}

.HEAD {
    background-color: rgb(232, 208, 255);
}

main {
    margin: 2%
}

.TheGrefg {
    width: 100%;
    text-align: center;
}

.mensaje {
    text-align: left;
    padding: 1%;
}

#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#popup-inner {
    max-width: auto;
    max-height: auto;
    margin: 20%;
    padding: 20px;
    background: #fff;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}

input,
textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #70009c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#openPopup {
    background-color: #70009c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin: auto;
}